# 데이터 생성



#### UserID: 사용자 ID / 210001, 210002, 210003 ...
#### Sco: 학습 성취도(종합 점수) / 0~100 (점)
#### Con: 소요시간(집중도) / 0~100 (분)
#### Pas: TC통과율(통과 유무) 0~100 (%)

In [2]:
import pandas as pd
import numpy as np

In [3]:
# UserID: 사용자 ID / 210001, 210002, 210003 ...
# Sco: 학습 성취도(종합 점수) / 0~100 (점)
# Con: 소요시간(집중도) / 0~100 (분)
# Pas: TC통과율(통과 유무) 0~100 (%)
feature = ['UserID', 
           'Sco001', 'Con001', 'Pas001', 
           'Sco002', 'Con002', 'Pas002', 
           'Sco003', 'Con003', 'Pas003', 
           'Sco004', 'Con004', 'Pas004', 
           'Sco005', 'Con005', 'Pas005', 
           'Sco006', 'Con006', 'Pas006', 
           'Sco007', 'Con007', 'Pas007', 
           'Sco008', 'Con008', 'Pas008', 
           'Sco009', 'Con009', 'Pas009', 
           'Sco010', 'Con010', 'Pas010']

users = 330

In [4]:
df = pd.DataFrame(data=np.random.randint(0,100,(users, len(feature))),
                 columns=feature)

In [5]:
df

,UserID,Sco001,Con001,Pas001,Sco002,Con002,Pas002,Sco003,Con003,Pas003,...,Pas007,Sco008,Con008,Pas008,Sco009,Con009,Pas009,Sco010,Con010,Pas010
0,14,17,18,55,65,65,88,96,86,3,...,87,19,68,83,80,29,69,97,26,28
1,42,27,71,53,17,35,17,4,72,9,...,52,28,31,36,18,52,70,75,22,89
2,70,42,23,13,18,48,33,15,90,53,...,65,69,54,9,73,1,78,62,12,49
3,77,32,33,21,81,63,97,25,18,41,...,72,85,38,59,39,4,42,26,10,56
4,46,86,79,27,73,4,85,99,81,93,...,9,37,3,60,38,34,25,23,75,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,33,13,1,51,28,51,95,43,74,61,...,55,89,33,55,66,54,0,36,8,95
326,2,37,48,30,47,42,39,92,3,66,...,31,68,25,15,67,64,28,24,7,61
327,12,83,24,17,25,76,78,32,83,9,...,49,16,0,26,59,64,73,27,10,52
328,46,39,39,68,33,42,85,99,34,74,...,62,46,9,32,29,79,13,84,71,12
329,71,90,54,61,38,18,87,28,67,68,...,74,12,56,8,63,40,98,83,96,43

- 랜덤으로 생성할 경우, 너무 연관성 없이 데이터가 랜덤하게 생성되기 때문에, 경향을 추가해서 생성하기 위한 코드
- 총 330명 데이터 생성
- 학생 1명씩 순서대로 생성 
- User ID는 반복문 내에서 순서대로 생성 
- 점수 분포는, 상 99명(30%), 중 132명(40%), 하 99명(30%) 분포로 생성

#### 상 99명: Sco 범위 70-100, Con 범위 10-40, Pas 범위 80-100. Sco = 0.4*(100-Con) + 0.6*Pas 실제  72-96
#### 중 132명: Sco 범위 40-70, Con 범위 30-60, Pas 범위 50-80. Sco = 0.4*(100-con) + 0.6*Pas 실제 46-72
#### 하 99명: Sco 범위 0-40, Con 범위 50-100, Pas 범위 0-50. Sco = 0.4*(100-con) + 0.6*Pas 실제 0-50

In [6]:
# 랜덤으로 생성할 경우, 너무 연관성 없이 데이터가 랜덤하게 생성되기 때문에, 경향을 추가해서 생성하기 위한 코드
# 총 330명 데이터 생성
# 학생 1명씩 순서대로 생성 
# User ID는 반복문 내에서 순서대로 생성 
# 점수 분포는, 상 99명(30%), 중 132명(40%), 하 99명(30%) 분포로 생성
# 상 99명: Sco 범위 70~100, Con 범위 10~40, Pas 범위 80~100. Sco = 0.4*(100-Con) + 0.6*Pas 실제  72~96
# 중 132명: Sco 범위 40~70, Con 범위 30~60, Pas 범위 50~80. Sco = 0.4*(100-con) + 0.6*Pas 실제 46~72
# 하 99명: Sco 범위 0~40, Con 범위 50~100, Pas 범위 0~50. Sco = 0.4*(100-con) + 0.6*Pas 실제 0~50

In [7]:
# 210001~210330 사이에서 중복 없는 난수 리스트 생성
import random

userid = []
rand_num = random.randint(210001,210330)

for i in range(users):
    while rand_num in userid:
        rand_num = random.randint(210001,210330)
    userid.append(rand_num)

In [42]:
df = pd.DataFrame(columns=feature)

high = int(users*0.3)
mid = int(users*0.4)
low = int(users*0.3)


# 상 등급 학생 데이터 생성
for i in range(high):
    user_data = []
    user_data.append(userid[i])
    score_list = []
    for i in range(10):
        con = random.randint(10,40)
        pas = random.randint(80,100)
        sco = int(0.4*(100-con)+0.6*pas)
        score_list.extend([sco,con,pas])
    user_data.extend(score_list)
    df.loc[len(df)] = user_data

# 중 등급 학생 데이터 생성
for i in range(mid):
    user_data = []
    user_data.append(userid[i])
    score_list = []
    for i in range(10):
        con = random.randint(30,60)
        pas = random.randint(50,80)
        sco = int(0.4*(100-con)+0.6*pas)
        score_list.extend([sco,con,pas])
    user_data.extend(score_list)
    df.loc[len(df)] = user_data
    
# 하 등급 학생 데이터 생성
for i in range(low):
    user_data = []
    user_data.append(userid[i])
    score_list = []
    for i in range(10):
        con = random.randint(50,100)
        pas = random.randint(0,50)
        sco = int(0.4*(100-con)+0.6*pas)
        score_list.extend([sco,con,pas])
    user_data.extend(score_list)
    df.loc[len(df)] = user_data

In [43]:
df

,UserID,Sco001,Con001,Pas001,Sco002,Con002,Pas002,Sco003,Con003,Pas003,...,Pas007,Sco008,Con008,Pas008,Sco009,Con009,Pas009,Sco010,Con010,Pas010
0,210031,81,29,89,92,19,100,81,27,87,...,95,87,20,92,82,36,94,79,30,85
1,210306,82,19,83,86,19,90,89,18,94,...,81,83,26,89,83,22,87,76,35,84
2,210167,88,21,95,85,12,84,77,39,88,...,95,81,36,93,83,35,96,84,29,94
3,210036,87,15,89,78,25,81,78,33,86,...,81,91,13,95,79,25,82,85,36,99
4,210010,76,40,88,78,35,88,87,29,99,...,99,74,37,82,85,10,83,83,22,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,210263,26,63,20,33,77,40,21,53,5,...,40,2,100,4,42,56,41,29,87,40
326,210173,27,92,41,33,83,44,10,80,4,...,49,22,50,4,23,91,33,21,78,21
327,210119,42,58,42,36,70,41,23,59,11,...,46,26,81,32,7,85,3,40,64,43
328,210226,32,66,32,33,80,42,30,60,24,...,46,4,99,7,40,68,46,18,99,30
329,210022,45,55,46,20,93,29,23,96,36,...,13,18,61,4,14,75,7,37,79,49

In [44]:
df_shuffled = df.sample(frac=1)

In [48]:
df_shuffled

,UserID,Sco001,Con001,Pas001,Sco002,Con002,Pas002,Sco003,Con003,Pas003,...,Pas007,Sco008,Con008,Pas008,Sco009,Con009,Pas009,Sco010,Con010,Pas010
217,210214,63,40,66,59,38,58,51,56,56,...,55,54,56,62,58,37,56,50,50,51
69,210271,89,21,96,91,16,96,85,10,82,...,85,88,10,88,82,15,80,82,20,84
263,210150,18,82,19,8,99,13,14,69,4,...,21,36,52,28,18,70,11,25,64,18
14,210066,75,37,84,84,38,100,77,27,81,...,97,79,35,89,79,25,82,95,11,100
18,210274,88,22,96,91,18,97,82,28,90,...,96,76,37,86,86,30,98,77,33,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,210063,26,91,38,30,59,23,26,74,26,...,31,27,63,21,38,74,46,3,95,3
87,210009,83,19,85,75,36,83,79,37,91,...,92,91,16,97,87,12,87,80,30,87
250,210314,17,77,14,27,72,27,22,78,22,...,25,27,90,39,37,55,32,28,50,14
23,210163,82,33,92,79,26,83,84,11,81,...,83,86,29,96,92,11,95,75,32,81
168,210271,64,58,80,63,58,78,50,60,58,...,76,60,60,74,60,60,74,56,35,50

In [47]:
df_shuffled.to_csv("data.csv", sep=',')

In [50]:
df_shuffled.reset_index()
df_shuffled

,UserID,Sco001,Con001,Pas001,Sco002,Con002,Pas002,Sco003,Con003,Pas003,...,Pas007,Sco008,Con008,Pas008,Sco009,Con009,Pas009,Sco010,Con010,Pas010
217,210214,63,40,66,59,38,58,51,56,56,...,55,54,56,62,58,37,56,50,50,51
69,210271,89,21,96,91,16,96,85,10,82,...,85,88,10,88,82,15,80,82,20,84
263,210150,18,82,19,8,99,13,14,69,4,...,21,36,52,28,18,70,11,25,64,18
14,210066,75,37,84,84,38,100,77,27,81,...,97,79,35,89,79,25,82,95,11,100
18,210274,88,22,96,91,18,97,82,28,90,...,96,76,37,86,86,30,98,77,33,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,210063,26,91,38,30,59,23,26,74,26,...,31,27,63,21,38,74,46,3,95,3
87,210009,83,19,85,75,36,83,79,37,91,...,92,91,16,97,87,12,87,80,30,87
250,210314,17,77,14,27,72,27,22,78,22,...,25,27,90,39,37,55,32,28,50,14
23,210163,82,33,92,79,26,83,84,11,81,...,83,86,29,96,92,11,95,75,32,81
168,210271,64,58,80,63,58,78,50,60,58,...,76,60,60,74,60,60,74,56,35,50