In [16]:
import pandas as pd

In [73]:
df = pd.read_csv('data/question.csv')

In [74]:
import re
f = open('data/question.csv')
for i in f:
    i = re.sub('\\\"','', i)
    print(i)
# fl = f.readlines().sub('\"','', df)
# print(re.sub('\"','', df))

no,title,types,level_type,limit_time,owner_no,created_at,updated_at,deleted_at,test

1,두 수의 합,[MATHEMATICS],LEVEL1,40,83,2021-05-14 11:54:48,2021-05-14 11:54:48,NULL

2,가장 큰 수,[SORT],LEVEL2,50,83,2021-05-14 11:54:48,2021-05-14 11:54:48,NULL

3,H-Index,[SORT],LEVEL3,40,83,2021-05-14 18:00:06,2021-05-14 18:00:06,NULL

4,369게임,[STRING],LEVEL1,30,83,2021-05-28 00:00:00,2021-05-28 00:00:00,NULL

5,피타고라스의 수,[GRAPH],LEVEL1,40,83,2021-05-29 13:33:22,2021-05-29 13:33:22,NULL

6,전화번호 유형,[STRING],LEVEL1,30,83,2021-05-29 13:46:52,2021-05-29 13:46:52,NULL

7,다음 숫자,[SORT, STRING],LEVEL1,30,83,2021-05-29 13:55:57,2021-05-29 13:55:57,NULL

8,시간 표시 바꾸기,[SORT, ARRAY],LEVEL2,40,83,2021-05-29 14:07:19,2021-05-29 14:07:19,NULL

26,a 와 z,[STACK, STRING],LEVEL4,50,83,2021-05-28 12:37:57,2021-05-28 12:37:57,NULL

31,예산(budget),[MATHEMATICS, STRING],LEVEL5,50,83,2021-05-29 12:41:47,2021-05-29 12:41:47,NULL

In [75]:
df

,no,title,types,level_type,limit_time,owner_no,created_at,updated_at,deleted_at,test
0,1,두 수의 합,"[MATHEMATICS""]""",LEVEL1,40,83,2021-05-14 11:54:48,2021-05-14 11:54:48,NaN,NaN
1,2,가장 큰 수,"[SORT""]""",LEVEL2,50,83,2021-05-14 11:54:48,2021-05-14 11:54:48,NaN,NaN
2,3,H-Index,"[SORT""]""",LEVEL3,40,83,2021-05-14 18:00:06,2021-05-14 18:00:06,NaN,NaN
3,4,369게임,"[STRING""]""",LEVEL1,30,83,2021-05-28 00:00:00,2021-05-28 00:00:00,NaN,NaN
4,5,피타고라스의 수,"[GRAPH""]""",LEVEL1,40,83,2021-05-29 13:33:22,2021-05-29 13:33:22,NaN,NaN
5,6,전화번호 유형,"[STRING""]""",LEVEL1,30,83,2021-05-29 13:46:52,2021-05-29 13:46:52,NaN,NaN
6,7,다음 숫자,"[SORT""","""STRING""]""",LEVEL1,30,83,2021-05-29 13:55:57,2021-05-29 13:55:57,NaN
7,8,시간 표시 바꾸기,"[SORT""","""ARRAY""]""",LEVEL2,40,83,2021-05-29 14:07:19,2021-05-29 14:07:19,NaN
8,26,a 와 z,"[STACK""","""STRING""]""",LEVEL4,50,83,2021-05-28 12:37:57,2021-05-28 12:37:57,NaN
9,31,예산(budget),"[MATHEMATICS""","""STRING""]""",LEVEL5,50,83,2021-05-29 12:41:47,2021-05-29 12:41:47,NaN

In [23]:
import csv

filename = open('data/question.csv')
f = csv.DictReader(filename)

In [25]:
for col in f:
    print(col)

OrderedDict([('no', '1'), ('title', '두 수의 합'), ('types', '[\\MATHEMATICS\\"]"'), ('level_type', 'LEVEL1'), ('limit_time', '40'), ('owner_no', '83'), ('created_at', '2021-05-14 11:54:48'), ('updated_at', '2021-05-14 11:54:48'), ('deleted_at', 'NULL'), ('test', None)])
OrderedDict([('no', '2'), ('title', '가장 큰 수'), ('types', '[\\SORT\\"]"'), ('level_type', 'LEVEL2'), ('limit_time', '50'), ('owner_no', '83'), ('created_at', '2021-05-14 11:54:48'), ('updated_at', '2021-05-14 11:54:48'), ('deleted_at', 'NULL'), ('test', None)])
OrderedDict([('no', '3'), ('title', 'H-Index'), ('types', '[\\SORT\\"]"'), ('level_type', 'LEVEL3'), ('limit_time', '40'), ('owner_no', '83'), ('created_at', '2021-05-14 18:00:06'), ('updated_at', '2021-05-14 18:00:06'), ('deleted_at', 'NULL'), ('test', None)])
OrderedDict([('no', '4'), ('title', '369게임'), ('types', '[\\STRING\\"]"'), ('level_type', 'LEVEL1'), ('limit_time', '30'), ('owner_no', '83'), ('created_at', '2021-05-28 00:00:00'), ('updated_at', '2021-05-28 00:00:00'), ('deleted_at', 'NULL'), ('test', None)])
OrderedDict([('no', '5'), ('title', '피타고라스의 수'), ('types', '[\\GRAPH\\"]"'), ('level_type', 'LEVEL1'), ('limit_time', '40'), ('owner_no', '83'), ('created_at', '2021-05-29 13:33:22'), ('updated_at', '2021-05-29 13:33:22'), ('deleted_at', 'NULL'), ('test', None)])
OrderedDict([('no', '6'), ('title', '전화번호 유형'), ('types', '[\\STRING\\"]"'), ('level_type', 'LEVEL1'), ('limit_time', '30'), ('owner_no', '83'), ('created_at', '2021-05-29 13:46:52'), ('updated_at', '2021-05-29 13:46:52'), ('deleted_at', 'NULL'), ('test', None)])
OrderedDict([('no', '7'), ('title', '다음 숫자'), ('types', '[\\SORT\\"'), ('level_type', '\\"STRING\\"]"'), ('limit_time', 'LEVEL1'), ('owner_no', '30'), ('created_at', '83'), ('updated_at', '2021-05-29 13:55:57'), ('deleted_at', '2021-05-29 13:55:57'), ('test', 'NULL')])
OrderedDict([('no', '8'), ('title', '시간 표시 바꾸기'), ('types', '[\\SORT\\"'), ('level_type', '\\"ARRAY\\"]"'), ('limit_time', 'LEVEL2'), ('owner_no', '40'), ('created_at', '83'), ('updated_at', '2021-05-29 14:07:19'), ('deleted_at', '2021-05-29 14:07:19'), ('test', 'NULL')])
OrderedDict([('no', '26'), ('title', 'a 와 z'), ('types', '[\\STACK\\"'), ('level_type', '\\"STRING\\"]"'), ('limit_time', 'LEVEL4'), ('owner_no', '50'), ('created_at', '83'), ('updated_at', '2021-05-28 12:37:57'), ('deleted_at', '2021-05-28 12:37:57'), ('test', 'NULL')])
OrderedDict([('no', '31'), ('title', '예산(budget)'), ('types', '[\\MATHEMATICS\\"'), ('level_type', '\\"STRING\\"]"'), ('limit_time', 'LEVEL5'), ('owner_no', '50'), ('created_at', '83'), ('updated_at', '2021-05-29 12:41:47'), ('deleted_at', '2021-05-29 12:41:47'), ('test', 'NULL')])

In [69]:
def preprocessing(한줄):
    사용되는 feature는 문제 유형, 레벨, 제한시간 총 3가지.
    문제 유형은 one-hot encoding으로 변환
    레벨은 그대로 1,2,3,4,5로 사용
    제한 시간도 그대로 사용
    return 한줄

def predict(UID, QID):
    인풋: feature
    아웃풋: 점수
    pass

types*a + level_type*b + limit_time*c = 통과율

SyntaxError: invalid syntax (<ipython-input-69-adf408d0c3f8>, line 2)

In [ ]:
if 해당 문제에 대한 점수가 이미 있는 경우:
    기존 passrate 그대로 return
else(해당 문제에 대한 점수가 없는 경우):
    if 다른 한 문제에 대한 점수가 있는 경우:
        점수가 있는 문제와 해당 문제와의 유사도를 통해 linear regression 모델로 예측
        linear regression모델에서는 input으로 점수가 있는 한 모델 id
    else (아예 점수 자체가 없는 경우):
        점수를 산출할 수 없으므로 -> 기본 passrate? 평균 passrate를 return