In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/question.csv')

In [ ]:
import re
f = open('data/question.csv')
for i in f:
    i = re.sub('\\\"','', i)
    print(i)
# fl = f.readlines().sub('\"','', df)
# print(re.sub('\"','', df))

In [ ]:
df

In [ ]:
import numpy as np
import re
import pandas as pd

In [ ]:
file = open('data/question.csv')
data = []
f = file.readlines()
bkt = False
for n in range(len(f)):
    tmp = ''
    row = []
    for i in list(f[n]):
        if i == "\"":
            continue
        if i == "[":
            arr = []
            bkt = True
        elif i == "]":
            bkt = False
        if i == ",":
            if bkt == True: # bracket 안에 있을 경우에는,
                tmp += i # tmp에 일단 더하되,
                arr.append(tmp)
            elif bkt == False:
                row.append(tmp)
                tmp = ''
        else:
            tmp += i
        if i == "\n":
            tmp = re.sub('\n','',tmp)
            row.append(tmp)
#             print("end of string")
#         print(row)
    data.append(row)
        
#         print(tmp)
    
# print(data[7][2])
# print(len(data))

            
        
#         print(i)
#     print(line)
df = pd.DataFrame(data)

In [ ]:
df

######################################################################

## 1. 데이터 입력

In [1]:
import pandas as pd
import re

In [2]:
df = pd.DataFrame(columns = ["no", "title", "types", "level_type", "limit_time"])
df = df.append(pd.Series([1,"두 수의 합",["MATHEMATICS"],"LEVEL1","40"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([2,"가장 큰 수",["SORT"],"LEVEL2","50"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([3,"H-Index",["SORT"],"LEVEL3","40"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([4,"369게임",["STRING"],"LEVEL1","30"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([5,"피타고라스의 수",["GRAPH"],"LEVEL1","40"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([6,"전화번호 유형",["STRING"],"LEVEL1","30"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([7,"다음 숫자",["SORT", "STRING"],"LEVEL1","30"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([8,"시간 표시 바꾸기",["SORT", "ARRAY"],"LEVEL2","40"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([26,"a 와 z",["STACK","STRING"],"LEVEL4","50"], index=df.columns),ignore_index=True)
df = df.append(pd.Series([31,"예산(budget)",["MATHEMATICS","STRING"],"LEVEL5","50"], index=df.columns),ignore_index=True)

In [3]:
df

   no       title                  types level_type limit_time
0   1      두 수의 합          [MATHEMATICS]     LEVEL1         40
1   2      가장 큰 수                 [SORT]     LEVEL2         50
2   3     H-Index                 [SORT]     LEVEL3         40
3   4       369게임               [STRING]     LEVEL1         30
4   5    피타고라스의 수                [GRAPH]     LEVEL1         40
5   6     전화번호 유형               [STRING]     LEVEL1         30
6   7       다음 숫자         [SORT, STRING]     LEVEL1         30
7   8   시간 표시 바꾸기          [SORT, ARRAY]     LEVEL2         40
8  26       a 와 z        [STACK, STRING]     LEVEL4         50
9  31  예산(budget)  [MATHEMATICS, STRING]     LEVEL5         50

In [4]:
arr = df.to_numpy()

In [41]:
arr[6][4]

'30'

## 2. 유사도 계산

In [6]:
def compare_types(idx1, idx2):
    '''
    문제 유형의 유사도를 구하는 함수
    유형 항목은 discrete하기 때문에 비교 시 일치하는 유형이 있는지에 대한 확인을 한다.
    idx1 : 이미 푼 문제 index
    idx2 : 아직 안 푼 문제 index
    return : 동일한 유형의 포함 비율 (0~1)
    '''
    q1 = set(arr[idx1][2]) # 비교 연산을 위해 set 형태로 변환
    q2 = set(arr[idx2][2])
    return len(set.intersection(q1,q2)) / len(q2)

compare_types(5,6)

0.5

In [48]:
def compare_level_type(idx1, idx2):
    '''
    q1에 대한 q2의 레벨 차를 반환
    레벨은 유형(types)과 ordinal 데이터기 때문에, 두 레벨 차를 그대로 반환
    idx1 : 이미 푼 문제 index
    idx2 : 아직 안 푼 문제 index
    return : 레벨 차이(-4 ~ +4) ; 
    '''
    q1 = int([q for q in arr[idx1][3] if str.isdigit(q)][0]) # string에서 숫자만 추출
    q2 = int([q for q in arr[idx2][3] if str.isdigit(q)][0])
    diff = q1-q2
    return diff

compare_level_type(0,1)

-1

In [50]:
def compare_limit_time(idx1, idx2):
    '''
    q1에 대한 q2의 제한 시간 차를 하는 함수
    return : 제한시간 차를 반환
    '''
    q1 = arr[idx1][4]
    q2 = arr[idx2][4]
    diff = int(q1)-int(q2)
    return diff

compare_limit_time(3,1)

-20

## 3. 점수 예측
### 3-1. TC통과율 예측

In [97]:
def predict_passrate(qid1,passrate,qid2):
    '''
    TC통과율 예측 함수
    이미 푼 문제1의 ID와 TC 통과율을 입력하면, 문제2에 대한 TC통과율을 반환한다.
    return : q2 passrate
    반환되는 passrate가 q1에 비해 높아지려면
    1. 유형 유사도 up / 2. level difficulty up / 3. 제한시간 down 이어야 한다.
    - (유형 유사도(0~1) 값 - 0.5) * 10
    - 레벨 차이(-4 ~ +4)*5
    - 제한시간 차이(-20 ~ +20)*0.5
    '''
#     passrate = 73
    types = compare_types(qid1,qid2)
    level_type = compare_level_type(qid1,qid2)
    limit_time = compare_limit_time(qid1,qid2)
    predicted_passrate = passrate + ((types-0.5)*10 + level_type*5 + limit_time*0.5)
    predicted_passrate = 100 if predicted_passrate > 100 else predicted_passrate
    
    return predicted_passrate

predict_passrate(7,73,6)
for i in range(9):
#     print(i,"번 index 문제 : ", "73", " , ", i+1, "번 index 문제 : ")
    print(predict_passrate(i,73,i+1))

58.0
78.0
83.0
63.0
73.0
73.0
63.0
53.0
68.0

### 3-2. 소요시간 예측

In [169]:
def predict_time(qid1, time, qid2):
    '''
    q2의 제한시간을 기준으로 산출된 조정시간을 더함
    '''
#     time = 50
    types = compare_types(qid1,qid2)
    level_type = compare_level_type(qid1,qid2)
    limit_time = compare_limit_time(qid1,qid2)
    q2_limit_time = int(arr[qid2][4])
    predicted_time = q2_limit_time + ((types-0.5)*10 + level_type*5 + limit_time*0.5)
    
    return int(predicted_time)

for i in range(9):
    print(predict_time(i, 50, i+1))

35
45
40
30
30
30
30
30
45

## 3-3. 종합점수 예측

In [105]:
def predict_score(qid1, passrate, time, qid2):
    pr = predict_passrate(qid1, passrate, qid2) # 예측된 통과율
    pt = predict_time(qid1, time, qid2) # 예측된 소요시간 - 백분위 변경 필요 - 소요시간 내 완료 시 100점, 1분 초과시 1점 차감.
    limit_time_q2 = int(arr[qid2][4])
    if pt <= limit_time_q2:
        score = 100
    else:
        score = 100 - (pt - limit_time_q2)
    predicted_score = pr*0.65 + limit_time_q2*0.35 # TC통과율 가중치 65%, 소요시간 가중치 35%
#     print(pr,pt,limit_time_q2, round(predicted_score,1))
    return round(predicted_score,1)
    
for i in range(9):
    print(predict_score(i, 93, 50, i+1))

68.2
77.7
75.5
68.0
71.0
71.0
68.0
65.0
74.7

## S3

In [106]:
# userid별 푼 문제 조회

In [145]:
import pandas as pd
import boto3

bucket = "dev-luxrobo-stream"
file_name = "evaluation_result_view.csv"

s3 = boto3.client('s3') 
# 's3' is a key word. create connection to S3 using default config and all buckets within S3

obj = s3.get_object(Bucket= bucket, Key= file_name) 
# get object and file (key) from bucket

df = pd.read_csv(obj['Body']) # 'Body' is a key word
df

,no,evaluation_no,evaluation_result_no,user_no,question_no,total_score,accuracy_score,duration_time_score,duration_time,limit_time,submit_cnt,accuracy_grade,duration_time_grade,submit_cnt_grade,created_at
0,1,39,1,83,1,70,40,100,0,40,1,40,10,3,2021-05-26 11:04:54
1,2,48,2,83,1,100,100,100,69,40,1,100,10,3,2021-05-27 05:18:36
2,3,2,4,83,1,70,40,100,10,40,2,40,10,3,2021-05-27 16:16:30
3,4,2,5,83,1,70,40,100,10,40,3,40,10,3,2021-05-27 16:16:34
4,5,49,6,83,1,70,40,100,95,40,0,40,90,3,2021-05-27 08:26:31

In [164]:
def find_user_score(uid):
    idxs = df.index[df['user_no'] == uid].tolist()
    idx = idxs[0]
    
    # 첫번째 인덱스의 문제번호, TC통과율, 소요시간, 종합점수 추출
    qid = df['question_no'][idx]
    passrate = df['accuracy_score'][idx]
    time = df['duration_time'][idx]
    score = df['total_score'][idx]
    
    return qid, passrate, time, score
    
    
find_user_score(83)

(1, 40, 0, 70)

In [173]:
def predict(user_no, question_no):
    qid_new = question_no
    qid_old, passrate, time, score = find_user_score(user_no) # user_no 83 available
    p_passrate = predict_passrate(qid_old, passrate, qid_new)
    p_time = predict_time(qid_old, time, qid_new)
    p_score = predict_score(qid_old, passrate, time, qid_new)
    
    return p_passrate, p_time, p_score

predict(83,3)

(50.0, 40, 43.0)

In [153]:
# df['user_no']
print (df.index[df['user_no'] == 83].tolist())
# print (df.index[df['user_no'] == 83])

[0, 1, 2, 3, 4]

In [24]:
a='123abc'

#result=int(filter(str.isdigit,a))
result = [c for c in a if str.isdigit(c)]
result

['1', '2', '3']

In [ ]:
def preprocessing(한줄):
    사용되는 feature는 문제 유형, 레벨, 제한시간 총 3가지.
    문제 유형은 one-hot encoding으로 변환
    레벨은 그대로 1,2,3,4,5로 사용
    제한 시간도 그대로 사용
    return 한줄

def predict(UID, QID):
    인풋: feature
    아웃풋: 점수
    pass

types*a + level_type*b + limit_time*c = 통과율

In [ ]:
if 해당 문제에 대한 점수가 이미 있는 경우:
    기존 passrate 그대로 return
else(해당 문제에 대한 점수가 없는 경우):
    if 다른 한 문제에 대한 점수가 있는 경우:
        점수가 있는 문제와 해당 문제와의 유사도를 통해 linear regression 모델로 예측
        linear regression모델에서는 input으로 점수가 있는 한 모델 id
    else (아예 점수 자체가 없는 경우):
        점수를 산출할 수 없으므로 -> 기본 passrate? 평균 passrate를 return